.ghost {
  animation: ghostRase 5s linear 2s infinite alternate;

  @keyframes ghostRase {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-10px);
    }
  }
}

.hints {
  @extend .para;
  display: grid;
  row-gap: 1.25rem;
  list-style: disc;
  padding-inline-start: 2rem;

  li {
    &::marker {
      color: $color_prime;
    }
  }
}

.loading {
  @extend .flex-fullcenter;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color_dark;
  background-color: $color_light;
  font-size: 24px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.loading-enter {
  opacity: 1;
  pointer-events: all;
}

.loading-exit {
  opacity: 0;
  pointer-events: none;
}

.splide__arrow {
  width: 3rem;
  height: 66.67%;
  background-color: rgba(#3b82f6, 0.9) !important;
  border-radius: 0.375rem;
  transition: all 0.3s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &--next {
    right: -20px;
  }
  &--prev {
    left: -20px;
  }
}

.scroll {
  width: 100%;
  text-align: center;

  &-main {
    color: $color_light;
    background-color: #1e40af;
    border-color: #172554;
    margin: 0 1rem;
    overflow: hidden;
  }
  &-end {
    @extend .thatch;
    position: relative;
    height: 2.5rem;

    &::after {
      content: "";
      @extend .thatch;
      position: absolute;
      top: -10px;
      left: -5px;
      border-radius: 1.5rem;
      display: block;
      width: 1.25rem;
      height: 3.5rem;
    }
    &::before {
      content: "";
      @extend .thatch;
      position: absolute;
      top: -10px;
      right: -5px;
      border-radius: 1.5rem;
      display: block;
      width: 1.25rem;
      height: 3.5rem;
    }
  }
}

.stand {
  position: relative;

  &::after {
    content: "";
    @extend .snipCorner;
    @extend .snipCorner-bot;
    width: 90%;
    transform: translateX(-5%);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
  }
  &-column {
    @extend .thatch;
    position: absolute;
    width: 80%;
    transform: translateX(-12.5%);
    height: 60%;

    &::before {
      content: "";
      @extend .thatch;
      display: block;
      width: 110%;
      height: 2rem;
      position: absolute;
      transform: translateX(4.5%) translateY(-1rem);
    }
    &::after {
      content: "";
      @extend .thatch;
      display: block;
      width: 120%;
      height: 2.5rem;
      position: absolute;
      transform: translateX(8.5%) translateY(-2.5rem);
    }
  }
  &-found {
    @extend .thatch;
    width: 100%;
    height: 2.5rem;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &::after,
    &::before {
      content: "";
      @extend .thatch;
      display: block;
      height: 2.5rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    &::after {
      content: "";
      @media (max-width: 768px) {
        display: none;
      }
      width: 107%;
      transform: translateY(2rem) translateX(3.5%);
    }

    &::before {
      content: "";
      width: 104%;
      transform: translateY(35px) translateX(2%);

      @media (min-width: 768px) {
        transform: translateX(2%) translateY(35px);
      }
    }
  }
}
