$color_prime: rgb(37 99 235);
$color_dark: #121b33;
$color_light: #f3f4f4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Yekan, sans-serif;
}

@font-face {
  font-family: Yekan;
  src: url(../assets/Yekan_Regular.ttf);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $color_dark;
}

::-webkit-scrollbar-thumb {
  background: $color_prime;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color_prime, 0.8);
}

::selection {
  color: $color_light;
  background-color: rgba(#2445a5, 0.8);
}

body {
  background: linear-gradient(
    109.6deg,
    #fff 30%,
    rgba(161, 206, 255, 0.3) 50%,
    #fff 70%
  );
}

@mixin backgroundGradient($alpha) {
  background: -webkit-linear-gradient(
    to right,
    rgba($color_dark, $alpha),
    rgba($color_second, $alpha)
  );
  background: linear-gradient(
    to right,
    rgba($color_dark, $alpha),
    rgba($color_second, $alpha)
  );
}

.filter {
  &-blue {
    filter: hue-rotate(180deg);
  }
}

.allunset {
  all: unset !important;
}
.link {
  @apply transition-all;
  -webkit-box-shadow: inset 0 -2px 0 0 $color_prime;
  -moz-box-shadow: inset 0 -2px 0 0 $color_prime;
  box-shadow: inset 0 -2px 0 0 $color_prime;
  &:hover {
    @apply text-slate-50;
    -webkit-box-shadow: inset 0 -22px 0 0 $color_prime;
    -moz-box-shadow: inset 0 -22px 0 0 $color_prime;
    box-shadow: inset 0 -22px 0 0 $color_prime;
  }
}
.shadowAround {
  box-shadow: inset 0px 0px 30px 30px rgba(black, 0.9);
}
.shadowFromTop {
  background: linear-gradient(180deg, $color_dark -30%, transparent 100%);
}
.shadowFromBottom {
  background: linear-gradient(0deg, $color_dark 0%, transparent 100%);
}
.fakeBorderDark {
  box-shadow: 0 0 0 2px $color_dark inset;
  -webkit-box-shadow: 0 0 0 2px $color_dark inset;
  -moz-box-shadow: 0 0 0 2px $color_dark inset;
}
.fakeBorderLight {
  box-shadow: 0 0 0 2px $color_light inset;
  -webkit-box-shadow: 0 0 0 2px $color_light inset;
  -moz-box-shadow: 0 0 0 2px $color_light inset;
}
.fakeBorderDark {
  box-shadow: 0 0 0 2px $color_dark inset;
  -webkit-box-shadow: 0 0 0 2px $color_dark inset;
  -moz-box-shadow: 0 0 0 2px $color_dark inset;
}
.fakeBorderBlue {
  box-shadow: 0 0 0 2px $color_prime inset;
  -webkit-box-shadow: 0 0 0 2px $color_prime inset;
  -moz-box-shadow: 0 0 0 2px $color_prime inset;
}

.displayTrans {
  transition: visibility 1s, opacity 0.2s linear;
}
.checkWrapp {
  .checkMark {
    &::before {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 9px;
      left: 4px;
      width: 13px;
      height: 2px;
      background-color: $color_prime;
      transform: rotate(-45deg);
    }

    &::after {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 10px;
      left: 4px;
      width: 2px;
      height: 4px;
      background-color: $color_prime;
      transform: rotate(-30deg);
    }
  }

  input {
    &:checked {
      ~ .checkMark {
        &::after,
        &::before {
          scale: 1;
        }
      }
    }
  }
}

.snipCorner {
  @apply border-x-transparent border-x-[20px];

  &-bot {
    @apply border-b-[20px] border-b-blue-950;
  }
  &-top {
    @apply border-t-[20px] border-t-blue-950;
  }
}

.fa-hashtag {
  @apply text-blue-500 me-1;
}

.ghost {
  animation: ghostRase 5s linear 2s infinite alternate;

  @keyframes ghostRase {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-10px);
    }
  }
}

.hints {
  @apply grid gap-y-5 list-disc ps-8 para;
  li {
    &::marker {
      @apply text-blue-500;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-slate-100 text-slate-900 flex-fullcenter;
  font-size: 24px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.loading-enter {
  opacity: 1;
  pointer-events: all;
}

.loading-exit {
  opacity: 0;
  pointer-events: none;
}

.splide__arrow {
  @apply w-12 h-2/3 button-light rounded-md transition-all shadow-lg;
  &--next {
    right: -20px;
  }
  &--prev {
    left: -20px;
  }
}

.scroll {
  @apply w-full text-center;
  &-main {
    @apply bg-blue-800 border-blue-950 mx-4 overflow-hidden text-slate-100;
  }
  &-end {
    @apply thatch h-10 relative;
    &::after {
      content: "";
      @apply thatch top-[-10px] rounded-3xl absolute left-[-5px] block w-5 h-14;
    }
    &::before {
      content: "";
      @apply thatch top-[-10px] rounded-3xl absolute right-[-5px] block w-5 h-14;
    }
  }
}

.stand {
  @apply relative;

  &::after {
    content: "";
    @extend .snipCorner;
    @extend .snipCorner-bot;
    @apply w-[90%] translate-x-[-5%] block absolute bottom-0 transition-all;
  }
  &-column {
    @apply thatch absolute w-[80%] translate-x-[-12.5%] h-3/5;
    &::before {
      content: "";
      @apply thatch block w-[110%] h-8 absolute translate-x-[4.5%] translate-y-[-1rem];
    }
    &::after {
      content: "";
      @apply thatch block w-[120%] h-10 absolute translate-x-[8.5%] translate-y-[-2.5rem];
    }
  }
  &-found {
    @apply thatch md:w-[100%] w-[100%] md:rounded-t-lg h-10 relative;
    &::after,
    &::before {
      content: "";
      @apply rounded-t-lg block h-10 thatch;
    }
    &::after {
      content: "";
      @apply thatch max-md:hidden w-[107%] translate-y-[2rem] translate-x-[3.5%];
    }
    &::before {
      content: "";
      @apply thatch md:w-[104%] w-[104%] translate-y-[35px] md:translate-x-[2%] translate-x-[2%];
    }
  }
}
