@import "@splidejs/react-splide/css";

/* -------------main and browser------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Yekan, sans-serif;
}

body {
  background: linear-gradient(
    109.6deg,
    #fff 30%,
    rgba(161, 206, 255, 0.3) 50%,
    #fff 70%
  );
}

@font-face {
  font-family: Yekan;
  src: url(../assets/Yekan_Regular.ttf);
}

:root {
  --color_prime: rgb(37, 99, 235);
  --color_dark: #121b33;
  --color_light: #f3f4f4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color_dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color_prime);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(37, 99, 235, 0.8); /* Use specific values for rgba */
}

::selection {
  color: var(--color_light);
  background-color: rgba(36, 69, 165, 0.8); /* Use specific values for rgba */
}

/* -------------shadow and border------------- */
.shadowAround {
  box-shadow: inset 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
}

.shadowFromTop {
  background: linear-gradient(180deg, var(--color_dark) -30%, transparent 100%);
}

.shadowFromBottom {
  background: linear-gradient(0deg, var(--color_dark) 0%, transparent 100%);
}

/* ---------------reset---------------- */
.splide__arrow {
  width: 3rem;
  height: 66.67%;
  background-color: rgba(243, 244, 244, 0.9) !important;
  border-radius: 0.375rem;
  transition: all 0.3s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #111827;
}

.splide__arrow:hover {
  background-color: rgba(243, 244, 244, 1);
}

.splide__arrow--next {
  right: -20px;
}

.splide__arrow--prev {
  left: -20px;
}

/* -------------components------------- */
.filter-blue {
  filter: hue-rotate(180deg);
}

.allunset {
  all: unset !important;
}

.link {
  transition: all 0.3s;
  box-shadow: inset 0 -2px 0 0 var(--color_prime);
}

.link:hover {
  color: #e2e8f0;
  box-shadow: inset 0 -22px 0 0 var(--color_prime);
}

.displayTrans {
  transition: visibility 1s, opacity 0.2s linear;
}

.snipCorner {
  border-left-color: transparent;
  border-right-color: transparent;
  border-left-width: 20px;
  border-right-width: 20px;
}

.snipCorner-bot {
  border-bottom-width: 20px;
  border-bottom-color: #1e3a8a;
}

.snipCorner-top {
  border-top-width: 20px;
  border-top-color: #1e3a8a;
}

.fa-hashtag {
  color: #3b82f6;
  margin-inline-end: 0.25rem;
}

@keyframes ghostRase {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

.ghost {
  animation: ghostRase 5s linear 2s infinite alternate;
}

.hints {
  display: grid;
  gap: 1.25rem;
  list-style-type: disc;
  padding-inline-start: 2rem;
}

.hints li::marker {
  color: #3b82f6;
}

.loading {
  position: fixed;
  inset: 0;
  font-size: 1.5rem;
  pointer-events: none;
  background-color: #f8fafc;
  color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  z-index: 1000;
}

.loading-enter {
  pointer-events: all;
  opacity: 1;
}

.loading-exit {
  opacity: 0;
  pointer-events: none;
}

.stand {
  position: relative;
}

.stand::after {
  content: "";
  border-left-color: transparent;
  border-right-color: transparent;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 20px;
  border-bottom-color: #172554;
  width: 90%;
  transform: translateX(-5%);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}

.stand-column {
  position: absolute;
  width: 80%;
  transform: translateX(-12.5%);
  height: 60%;
}

.stand-column::before {
  content: "";
  display: block;
  width: 110%;
  height: 2rem;
  position: absolute;
  transform: translateX(4.5%) translateY(-1rem);
}

.stand-column::after {
  content: "";
  display: block;
  width: 120%;
  height: 2.5rem;
  position: absolute;
  transform: translateX(8.5%) translateY(-2.5rem);
}

.stand-found {
  width: 100%;
  height: 2.5rem;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.stand-found::after,
.stand-found::before {
  content: "";
  display: block;
  height: 2.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.stand-found::after {
  width: 107%;
  transform: translateY(2rem) translateX(3.5%);
}

.stand-found::before {
  width: 104%;
  transform: translateY(35px) translateX(2%);
}

@media (max-width: 768px) {
  .stand-found::after {
    display: none;
  }
}

@media (min-width: 768px) {
  .stand-found::before {
    transform: translateX(2%) translateY(35px);
  }
}

.scroll,
.scroll-end,
.scroll-end::after,
.scroll-end::before,
.stand-column,
.stand-column::before,
.stand-column::after,
.stand-found,
.stand-found::after,
.stand-found::before {
  background-color: #172554 !important;
  border: 2px solid #1e40af;
}

.scroll {
  width: 100%;
  text-align: center;
}

.scroll-main {
  color: var(--color_prime);
  background-color: #1e40af;
  border-color: #172554;
  margin: 0 1rem;
  overflow: hidden;
}

.scroll-end {
  position: relative;
  height: 2.5rem;
}

.scroll-end::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  border-radius: 1.5rem;
  display: block;
  width: 1.25rem;
  height: 3.5rem;
}

.scroll-end::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 1.5rem;
  display: block;
  width: 1.25rem;
  height: 3.5rem;
}
